<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" dir="rtl" />
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/site.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/DataTables-1.10.10/media/css/jquery.dataTables.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.core.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.resizable.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.selectable.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.accordion.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.autocomplete.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.button.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.dialog.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.slider.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.tabs.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.datepicker.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.progressbar.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.theme.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" type="text/css" />
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-multiselect.css" type="text/css" />
      @*  <link href="~/Content/site.css" rel="stylesheet" type="text/css" />*@

                @*@Styles.Render("~/Content/css")
                @Styles.Render("~/Content/themes/base/css")
                @Scripts.Render("~/bundles/modernizr")*@
                @RenderSection("css", required: false)
    </head>
    <body dir="rtl" class="body" >

@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a class="navbar-brand" href="#">WebSiteName</a>*@
            </div>







            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("خروج", "LogOut", "Account", null, new { @class = "glyphicon glyphicon-log-in" })</li>  
                <li class="bg-danger">@Html.ActionLink(@Session["DBYearName"].ToString(), null)</li>
              
                @*<li><span class="glyphicon glyphicon-check"></span>@MaaseShooei.Areas.Management.Models.Statics.dbconnection</li>*@

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> گزارش ها <span class="glyphicon glyphicon-print"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش حواله ها", "ShowReport", "BurdenInformation", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش صورت حساب مشتریان", "ShowReportSearch", "ConsumerFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش صورت حساب تولید کنندگان", "ShowReportSearch", "ProducerFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش صورت حساب ماشین ها", "ShowReportSearch", "TruckFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش چک های خریداران", "ShowReportCheques", "ConsumerFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش چک های تولیدکننده", "ShowReportCheques", "ProducerFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش چک های ماشین ها", "ShowReportCheques", "TruckFinancialStatement", null, new { @class = "btn btn-success" })</li>


                       

                    </ul>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> کاربران <span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("کاربران سیستم", "Index", "User", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("ویرایش کاربر", "edituserown", "User", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">تعاریف اولیه <span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("ماشین ها", "Index", "Truck", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("خریداران", "Index", "Consumer", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("تولید کننده ها", "Index", "Producer", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("محصولات", "Index", "Produce", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("بانک ها(خریداران)", "Index", "ConsumerBank", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("شماره حساب  هاو بانک ها", "Index", "MyBank", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> تعریف قیمت ها <span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        @*<li>@Html.ActionLink("ماشین ها", "Index", "Truck", null, new { @class = "btn btn-success" })</li>*@
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("قیمت های خریداران", "Index", "ConsumerProducePrice", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("قیمت های تولید کننده ها", "Index", "ProducerProducePrice", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("قیمت های حمل و نقل", "Index", "TransportPrice", null, new { @class = "btn btn-success" })</li>
                    </ul>
                </li>
                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">حواله ها و صورت وضعیت ها <span class="glyphicon glyphicon-usd"></span></a>
                    <ul class="dropdown-menu">
                        @*<li>@Html.ActionLink("ماشین ها", "Index", "Truck", null, new { @class = "btn btn-success" })</li>*@
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("حواله ها", "Index", "BurdenInformation", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("صورت وضعیت خریداران", "Index", "ConsumerFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("صورت وضعیت تولید کننده ها", "Index", "ProducerFinancialStatement", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("صورت وضعیت حمل و نقل", "Index", "TruckFinancialStatement", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
}
else if (Request.IsAuthenticated && User.IsInRole("User"))
{
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    @*<a class="navbar-brand" href="#">WebSiteName</a>*@
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("خروج", "LogOut", "Account", null, new { @class = "glyphicon glyphicon-log-in" })</li>
                    <li class="bg-danger">@Html.ActionLink(@Session["DBYearName"].ToString(), null)</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> کاربران <span class="glyphicon glyphicon-user"></span></a>
                        <ul class="dropdown-menu ">
                            <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("ویرایش کاربر", "edituserown", "User", null, new { @class = "btn btn-success" })</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> گزارش ها <span class="glyphicon glyphicon-print"></span></a>
                        <ul class="dropdown-menu ">
                            <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش حواله ها", "ShowReport1", "BurdenInformation", null, new { @class = "btn btn-success" })</li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">حواله ها  <span class="glyphicon glyphicon-usd"></span></a>
                        <ul class="dropdown-menu">
                            @*<li>@Html.ActionLink("ماشین ها", "Index", "Truck", null, new { @class = "btn btn-success" })</li>*@
                            <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("حواله ها", "Index", "BurdenInformation", null, new { @class = "btn btn-success" })</li>

                        </ul>
                    </li>
                </ul>
            </div>
        </nav>


}
else if (Request.IsAuthenticated && User.IsInRole("Truck"))
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a class="navbar-brand" href="#">WebSiteName</a>*@
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("خروج", "LogOut", "Account", null, new { @class = "glyphicon glyphicon-log-in" })</li>
                <li class="bg-danger">@Html.ActionLink(@Session["DBYearName"].ToString(), null)</li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> کاربران <span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("ویرایش کاربر", "edituserown", "User", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> گزارش ها <span class="glyphicon glyphicon-print"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش حواله ها", "ShowReportTruck", "BurdenInformation", null, new { @class = "btn btn-success" })</li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">حواله ها و صورت وضعیت ها<span class="glyphicon glyphicon-usd"></span></a>
                    <ul class="dropdown-menu">
                        @*<li>@Html.ActionLink("ماشین ها", "Index", "Truck", null, new { @class = "btn btn-success" })</li>*@
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("حواله ها", "Index", "BurdenInformation", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("صورت وضعیت ماشین ها", "Index", "TruckFinancialStatement", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>
                
            </ul>
        </div>
    </nav>


}
else if (Request.IsAuthenticated && User.IsInRole("Consumer"))
{
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a class="navbar-brand" href="#">WebSiteName</a>*@
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("خروج", "LogOut", "Account", null, new { @class = "glyphicon glyphicon-log-in" })</li>
                <li class="bg-danger">@Html.ActionLink(@Session["DBYearName"].ToString(), null)</li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                @*<li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>*@

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> کاربران <span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("ویرایش کاربر", "edituserown", "User", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> گزارش ها <span class="glyphicon glyphicon-print"></span></a>
                    <ul class="dropdown-menu ">
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("گزارش حواله ها", "ShowReportConsumer", "BurdenInformation", null, new { @class = "btn btn-success" })</li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">حواله ها و صورت وضعیت ها<span class="glyphicon glyphicon-usd"></span></a>
                    <ul class="dropdown-menu">
                        @*<li>@Html.ActionLink("ماشین ها", "Index", "Truck", null, new { @class = "btn btn-success" })</li>*@
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("حواله ها", "Index", "BurdenInformation", null, new { @class = "btn btn-success" })</li>
                        <li><div style="padding-bottom:1px;"></div>@Html.ActionLink("صورت وضعیت خریداران", "Index", "ConsumerFinancialStatement", null, new { @class = "btn btn-success" })</li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>


}

        <div >
            @RenderSection("featured", required: false)
            @*<div class="row">
                <div class="col-md-10">*@
                    @RenderBody()
                @*</div>
        <div class="col-md-2">

        </div>





    </div>
                *@

        </div>
        <footer>
            <div class="content-wrapper">
                <div class="text-center">
                    <p>&copy; @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>



        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.11.3.min.js"></script>
        <script src="~/Scripts/site.js"></script>
        <script src="~/Scripts/DataTables-1.10.10/media/js/jquery.dataTables.js"></script>
        <script src="~/Content/bootstrap/js/bootstrap.js"></script>
        <script src="~/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
        <script src="~/Scripts/MdBootstrapPersianDateTimePicker/jalaali.js"></script>

        <script src="~/Content/bootstrap/js/bootstrap-multiselect.js"></script>
        @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
