@model MaaseShooei.Areas.Management.Models.T_ConsumerProducePrices

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel-group">

    <div class="panel panel-info">
        <div class="panel-heading">حذف قیمت مشتریان</div>

        <div class="panel-body">

            @*<div class="display-label">
                    @Html.DisplayNameFor(model => model.ConsumerProducePriceID)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ConsumerProducePriceID)
                </div>*@

            <div class="display-label">
                @Html.DisplayNameFor(model => model.T_Consumers._CompanyName)
            </div>
            <div class="form-control">
                @Html.DisplayFor(model => model.T_Consumers._CompanyName)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model._Date)
            </div>
            <div class="form-control">
                @Html.DisplayFor(model => model._Date)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model._Price)
            </div>
            <div class="form-control">
                @Html.DisplayFor(model => model._Price)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model._StateID)
            </div>
            <div class="form-control">
                @Html.DisplayFor(model => model._StateID)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.T_Produces._ProduceName)
            </div>
            <div class="form-control">
                @Html.DisplayFor(model => model.T_Produces._ProduceName)
            </div>

           <p></p>
                
                @Html.ActionLink("ویرایش", "Edit", new {  id=Model._ConsumerProducePriceID }, new { @class = "btn btn-default" })
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-default" })

            
        </div>
    </div>
</div>
    
    

