@model MaaseShooei.Areas.Management.Models.T_Trucks

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Management/Views/Shared/_AdminLayout.cshtml";
}



<div class="panel-group">

    <div class="panel panel-danger">
        <div class="panel-heading">آیا مطمئن هستید برای حذف؟</div>

        <div class="panel-body">

            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayNameFor(model => model._TruckID)</div>
                <div class="panel-body">@Html.DisplayFor(model => model._TruckID)</div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayNameFor(model => model._Number)</div>
                <div class="panel-body">@Html.DisplayFor(model => model._Number)</div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayNameFor(model => model._OwnerFullName)</div>
                <div class="panel-body">@Html.DisplayFor(model => model._OwnerFullName)</div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayNameFor(model => model._PhoneNumber)</div>
                <div class="panel-body">@Html.DisplayFor(model => model._PhoneNumber)</div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayNameFor(model => model._PureWeight)</div>
                <div class="panel-body">@Html.DisplayFor(model => model._PureWeight)</div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayNameFor(model => model._Descryption)</div>
                <div class="panel-body">@Html.DisplayFor(model => model._Descryption)</div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
                    <button type="submit" class="btn btn-default" >حذف</button> 
                    @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-default" })
                
            }
        </div>
    </div>
</div>
