@model MaaseShooei.Areas.Management.Models.T_ConsumersPays

@{
    ViewBag.Title = "ویرایش پرداخت";
    Layout = "~/Areas/Management/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">



            <div class="panel-group">

                <div class="panel panel-primary">
                    <div class="panel-heading">ثبت پرداخت جدید</div>

                    <div class="panel-body">



                        @Html.HiddenFor(model => model._CFSID)
                        @Html.HiddenFor(model => model.ConsumerPayID)




                        @*  <div class="editor-label">
                                @Html.Label("کد سیستم صورت حساب")
                            </div>

                                <input type="text" name="CFSID" id="CFSID" value="@ViewBag.CFSID"  class="form-control"/>
                                @Html.Display("CFSID", new { name = "@ViewBag.CFSID", id = "@ViewBag.CFSID" })*@


                        <div class="row">
                            <div class="col-lg-4">
                                <div class="editor-label">
                                    مبلغ وصولی
                                </div>
                                <div class="form-control">
                                    @ViewBag.Payed
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="editor-label">
                                    مبلغ بستانکاری
                                </div>
                                <div class="form-control">
                                    @ViewBag.Creditor
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="editor-label">
                                    مبلغ کل
                                </div>
                                <div class="form-control">
                                    @ViewBag.TotalPrice

                                </div>





                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">



                                <div class="editor-label">
                                    @Html.Label("نوع دریافت")
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("PayTypeID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                                    @Html.ValidationMessageFor(model => model.PayTypeID)
                                </div>

                            </div>

                        </div>


                        <div class="row">

                            <div class="col-md-6">



                                <div class="editor-label">
                                    @Html.LabelFor(model => model._Price)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._Price, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model._Price)
                                </div>
                            </div>


                            <div class="col-md-6">


                                <div class="editor-label">
                                    @Html.LabelFor(model => model._RegisterDate)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._RegisterDate, new { @class = "form-control", id = "regdate" })
                                    @Html.ValidationMessageFor(model => model._RegisterDate)
                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">



                                <div class="editor-label">
                                    @Html.LabelFor(model => model._Bankdepartment)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._Bankdepartment, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model._Bankdepartment)
                                </div>

                            </div>
                            <div class="col-md-6">




                                <div class="editor-label">
                                    @Html.LabelFor(model => model.T_Consumer_Bank._BankName)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("BankID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                                    @Html.ValidationMessageFor(model => model.T_Consumer_Bank._BankName)
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="editor-label">
                                    @Html.LabelFor(model => model._Number)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._Number, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model._Number)
                                </div>


                            </div>
                            <div class="col-md-6">




                                <div class="editor-label">
                                    @Html.LabelFor(model => model._Owner)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._Owner, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model._Owner)
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">


                                <div class="editor-label">
                                    @Html.LabelFor(model => model.T_PayState._PayStateName)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("PayStateID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                                    @Html.ValidationMessageFor(model => model.PayStateID)
                                </div>






                            </div>
                            <div class="col-lg-6">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model._PayDate)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._PayDate, new { @class = "form-control", id = "paydate" })
                                    @Html.ValidationMessageFor(model => model._PayDate)
                                </div>







                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.T_RecoveryAgent._AgentName)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("AgentID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                                    @Html.ValidationMessageFor(model => model.AgentID)
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="editor-label">
                                    @Html.LabelFor(model => model._RecoveryDate)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._RecoveryDate, new { @class = "form-control", id = "recdate" })
                                    @Html.ValidationMessageFor(model => model._RecoveryDate)
                                </div>


                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-12">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model._Description)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model._Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model._Description)
                                </div>







                            </div>
                        </div>

                        <p></p>
                        <button type="submit" value="ایجاد" class="btn btn-success">ویرایش <span class="glyphicon glyphicon-plus-sign"></span></button>
                        <a href="@Url.Action("Details", new { id = Model.CFSID })" class="btn btn-warning">انصراف <span class="glyphicon glyphicon-remove-sign "></span></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#paydate').MdPersianDateTimePicker({
            Placement: 'right', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: false, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
            EnglishNumber: true,
        });

        $('#regdate').MdPersianDateTimePicker({
            Placement: 'right', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: false, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
            EnglishNumber: true,
        });
        $('#recdate').MdPersianDateTimePicker({
            Placement: 'right', // default is 'bottom'
            Trigger: 'focus', // default is 'focus',
            EnableTimePicker: false, // default is true,
            TargetSelector: '', // default is empty,
            GroupId: '', // default is empty,
            ToDate: false, // default is false,
            FromDate: false, // default is false,
            EnglishNumber: true,
        });

    </script>



}
