@model MaaseShooei.Areas.Management.Models.T_BurdenInformations

@{
    ViewBag.Title = "گزارش حواله ها";

    Layout = "~/Areas/Management/Views/Shared/_AdminLayout.cshtml";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="panel panel-primary">
    <div class="panel-heading "><span class="glyphicon glyphicon-list" aria-hidden="true"></span> پارامتر های گزارش </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                @*<div class="editor-label">
                    @Html.LabelFor(model => model.T_TransportPrices._ConsumerID)
                </div>

                <div class="editor-field ">
                    @Html.DropDownList("ConsumerID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                    @Html.ValidationMessageFor(model => model.T_TransportPrices._ConsumerID)
                </div>*@

            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model._TruckNumber)
                </div>

                <div class="editor-field ">
                    @Html.DropDownList("TruckID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                    @Html.ValidationMessageFor(model => model._TruckID)
                </div>

            </div>
            
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.T_TransportPrices._ProducerID)
                </div>

                <div class="editor-field ">
                    @Html.DropDownList("ProducerID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                    @Html.ValidationMessageFor(model => model.T_TransportPrices._ProducerID)
                </div>

            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.LabelFor(model => model.T_TransportPrices._ProduceID)
                </div>

                <div class="editor-field ">
                    @Html.DropDownList("ProduceID", null, String.Empty, new { style = "width:200px;min-height:25px;" })
                    @Html.ValidationMessageFor(model => model.T_TransportPrices._ProduceID)
                </div>

            </div>
            
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.Label("تا تاریخ")
                </div>
                <div class="editor-field ">
                    @Html.TextBox("ToDate",null, new { style = "width:200px;min-height:25px;" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-label">
                    @Html.Label("از تاریخ")
                </div>
                <div class="editor-field ">
                    @Html.TextBox("FromDate", null, new { style = "width:200px;min-height:25px;" })
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit"  class="btn btn-default"><span class="glyphicon glyphicon-print"></span>  نمایش گزارش</button>
            </div>
            @*, new {ProduceID= ,ProducerID= ,ConsumerID= ,TruckID= }*@
        </div>


    </div>
</div>
}
@section Scripts {


<script type="text/javascript">
    $('#FromDate').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: false, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
        EnglishNumber: true,
    });

    $('#ToDate').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: false, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
        EnglishNumber: true,
    });


    </script>

   }
